.list-group-item{
    cursor: pointer;
}
.space {
    flex: 1 1 auto;
  }



.card-inside{
    width: auto;
    height: 50px;
}

.card-img{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.row{
    display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 10px;
   grid-row-gap: 1em;
}
.p{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    
}