.list-group-item{
    cursor: pointer;
}
.space {
    flex: 1 1 auto;
  }



.card-inside{
    width: auto;
    height: 50px;
}

.card-img{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.row{
    display: grid;
    grid-template-columns: 40px 40px auto;
    grid-column-gap: 3px;
    grid-row-gap: 1em;
}
.p{
   
    word-wrap: break-word;
    overflow: hidden;
    hyphens: auto;
    font-size: small;
}

.item3{
    margin-right: 20px;
    text-align: right;
    align-self: center;
}
