<ul class="list-group" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
  aria-controls="collapseExample">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="stretched-link">{{list.name}}</a>
    <span class="badge badge-primary badge-pill">0</span>
  </li>
  <div id="collapseExample" [hidden]="isCollapsed">
    <div class="card">
      <div class="card-body">

        <div *ngFor="let item of itens">
          <div class="card  mb-1" style="max-width: auto;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{item.imageUrl}}" class="card-img ml-5">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title">{{item.name}}</h2>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ul>