<ul class="list-group" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
  aria-controls="collapseExample">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="stretched-link">{{list.name}}</a>
    <span class="badge badge-primary badge-pill">{{tamanho}}</span>
  </li>
  <div id="collapseExample" [hidden]="isCollapsed">
    <div class="card">
      <div class="card-body">
        <div *ngIf="itens">
          <div *ngFor="let item of itens">
            
            <div class="card mb-1 card-inside" style="max-width: auto;">
              <div class="row">
                <div class="col ml-1 mt-1">
                  <img src="{{item.product.imageUrl}}" title="Clique aqui para comparar" class="card-img"
                    [routerLink]="['/product', item.product.id]">
                </div>
                <div class="col p d-flex align-items-center mt-2">
                  <h3>{{item.product.name}}</h3>
                </div>
                <div class="col align-items-center item3">
                  {{item.product.offers[0].value | currency:'BRL':true:'1.2-2'}}
                </div>
              </div>
            </div>
            <i class="fa fa-trash" aria-hidden="true" (click)="removerProduto(list.id, item.product.id)"></i>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
</ul>