<button type="button" class="btn botao btn-secondary btn-sm btn-block " data-toggle="modal" data-target="#myModal">
    Criar nova lista personalizada
</button>
<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Nome da Lista</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <span>
                    <input placeholder="Insira nome aqui" [(ngModel)]="request.name">
                </span>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button (click)="criarLista()" type="button" class="btn btn-primary" data-dismiss="modal">Criar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="row-1 mt-3">
        <div class="col mb-3" *ngFor="let list of lists">
          <app-lista-interna [list]="list"></app-lista-interna>
        </div>
</div>
      

    <!--<form #listaForm="ngForm">
        <span>Create List</span>
        <input required id="name" name="name" type="text" class="form-control">
        
        <div class="list-footer">
            <button type="submit" class="btn btn-secondary">Save</button>
        </div>
    </form>-->