
<div class="card mx-2 mb-2 shadow-sm">
  <img class="bd-placeholder-img card-img-top p-1" width="50px" [src]="item.url" />

  <div class="card-header text-center"><strong><h3>{{ item.name}}</h3></strong></div>
  <div class="card-body">
    <p class="card-text">
      A partir de:

    </p>
    
    <app-modal></app-modal>
        <button type="button" class="btn mt-1 btn-sm btn-block btn-primary">Add to
          Cart</button>
      <button type="button" class="btn mt-1 btn-sm btn-block btn-outline-secondary">View Details</button>
    
  </div>
</div>


