.bloco{
    display: block;
    min-width: 10em;
  }
  
.card-header{

  height: 40px;
  margin-top: 2;
  text-align: center center;
  color: rgb(75, 75, 75);
  padding: 5px;
}

.fa-heart{
  color: palevioletred;
  cursor: pointer;
  padding: 5px;
}
