<div class="card mr-1 mb-2 shadow-sm">
  <img class="bd-placeholder-img card-img-top" [src]="item.imageUrl" />

  <div class="card-header">
    <div class="break-word">
      <strong> {{item.name}}</strong>
    </div>
  </div>

  <div class="card-body">
    <p class="card-text">
       A partir de: <strong>R$ {{item.offers[0].value}} <i *ngIf="state" class="far fa-heart float-right"></i></strong>
    </p>

    <app-modal></app-modal>
    <button type="button" class="btn mt-1 btn-sm btn-block btn-outline-secondary" [routerLink]="['/product', item.id]">
      Comparar Preços</button>

  </div>
</div>