<div class="card mb-2 shadow-sm">
  <img class="bd-placeholder-img card-img-top p-1" width="50%" [src]="productItem.imageUrl" />

  <div class="card-body">
    <p class="card-text">
      <strong>{{ productItem.price | currency:'BRL' }}</strong>
    </p>
    <p class="card-text">{{ productItem.description }}</p>

    <app-modal></app-modal>

      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart(productItem)">Add to
          Cart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
      </div>
    
  </div>
</div>
