 <nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a class="navbar-brand" href="#">
    <img src="https://avatars2.githubusercontent.com/u/60929423?s=200&v=4" width="30" height="30" alt="">
  </a>

  <form class="form-inline">
    <input class="form-control mr-0 btn-sm col" placeholder="Buscar..." [(ngModel)]="name" name="something">
    <button class="btn btn-secondary btn-sm" type="Submit" [routerLink]="['/search', name]">Ok</button>
  </form>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSite">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="products">Products</a>
      </li>
      <li class="nav-item">
        <a *ngIf="state" class="nav-link" href="lista">Product List</a>
      </li>
      <li class="nav-item">
        <a *ngIf="state" class="nav-link" href="favorite">Favorite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mapa">Map</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">

      <li>
        <button *ngIf="state2" type="button" class="btn btn-success btn-sm mb-1 mr-1" (click)="signIn('Google')">Sign in with Google</button>
      </li>

      <li>
        <button *ngIf="state" type="button" class="btn btn-danger btn-sm" (click)="signOut()">Sign Out</button>
      </li>
      
    </ul>
    
  </div>
  
</nav>

<router-outlet></router-outlet>