<div class="container">
    <div class="card mb-3 mx-2 my-2" style="max-width: auto;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src= {{itens.imageUrl}} class="card-img">
            </div>
            <div class="col-md">
                <div class="card-body">
                    <h2 class="card-title">{{itens.name}}</h2>
                    <p class="card-text">a partir de <strong><h1>R$ {{itens.offers[0].value}}</h1></strong></p>
                </div>
            </div>
            
        </div>
    </div>
</div>