.card-img{

    height: 140px;
    width: 140px;
    margin-left: 5px;
}

.card-img2{

    margin-top: 10px;
    height: 100px;
    width: 100px;
    margin-left: 5px;
}
.card-title{
    font-style: bold;
}
.footer{ 
    position: relative;
    bottom: 0;
    width: 100%;
}


.texto{
    font-size: 20px;
    font-style: bold;
}

.row-x{
    display: grid;
    grid-template-columns: 100px auto;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}
.row-y{
    display: grid;
    grid-template-columns: 140px auto;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

.nome-lista:hover{
    cursor: pointer;
    color: blue;
}