<div class="container">
    <div class="card mb-3 mx-2 my-2" style="max-width: auto;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src={{itens.url}} class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">{{itens.name}}</h2>
                    <p class="card-text">Descrição do Item.</p>
                    <p class="card-text">a partir de </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>