<div class="card mx-2 mb-1">

  <div class="card-header">
    <strong>Filtro</strong>
  </div>

  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="from">De R$</label>
        <input type="number" id="from" class="form-control">
      </div>

      <div class="form-group">
        <label for="to">Para R$</label>
        <input type="number" id="to" class="form-control">
      </div>

      <button class="btn bg-warning btn-block btn-sm">Filtra por preço</button>
    </form>
  </div>
</div>
