.texto{
    text-align: center;
    margin-left: 30px;
}

.bloco{
    display: block;
    min-width: 10em;
  }

.card{

  width: 200px;
  height: auto;
}
  
.card-header{

  height: 60px;
  text-align: center;
  color: rgb(75, 75, 75);
  font-size: 100%;
}

.fa-heart{
  color: rgb(228, 83, 131);
  cursor: pointer;
}

.card-img-top{

  width: 190px;
  height: 200px;
}
.break-word{
    word-break: break-word;
    max-height: 40px;
    overflow: hidden;
  }